version = 0.24.1
let-binding-spacing = compact
sequence-style = separator
doc-comments = after-when-possible
exp-grouping = preserve
break-cases = toplevel
break-separators = before
cases-exp-indent = 4
cases-matching-exp-indent = normal
if-then-else = keyword-first
parens-tuple = multi-line-only
type-decl = sparse
field-space = loose
space-around-arrays = true
space-around-lists = true
space-around-records = true
dock-collection-brackets = false
